{{!-- {{yield}} --}}
<div class="bp-chart" id={{chartId}} 
    onclick={{action "changeProv"}}></div>

                {{!-- option=result
                onChartReady=(action onChartReady)
                opts=opts
                onEvents=onEvents}} --}}