{{!-- {{yield}} --}}
<div class="bp-chart" id={{chartId}}></div>
                {{!-- option=result
                onChartReady=(action onChartReady)
                opts=opts
                onEvents=onEvents}} --}}