.bp-login {
    height:100%;
    width:100%;
    margin-left:8;
    margin-right:8;
    margin-top:8;
    margin-bottom:8;
    padding-left:8;
    padding-right:8;
    padding-top:8;
    padding-bottom:8;
    background:#FFFFFF;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
.bp-row-layout.login-container  {
    height: 425px;
    width: 960px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: $depth-z400;
    overflow: hidden;
}

.login-container  .login-form  {
    height: auto;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    flex: 1;
    padding: 80px;
}

.login-container  .login-form  .title  {
    height: auto;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    margin: 0 0 40px 0;
}

.login-container  .login-form  .login-input  {
}

.login-container  .login-form  .login-input  {
    height: auto;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    margin: 0 0 8px 0;
    padding: 0px;
}

.login-container  .login-form  .login-btn  {
    height: 40px;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    margin: 8px 0 16px;
    padding: 0px;
    display: flex;
    justify-content: center;
    undefined: undefined;
    undefined: undefined;
}

.login-container  .login-form  .login-forget-password  {
}

.login-container  .login-form  .login-forget-password  .login-fp-text  {
    height: auto;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    cursor: not-allowed;
}

.login-container  .login-form  .login-forget-password  .login-into-ow  {
}

.login-container  .login-form  .login-forget-password  .login-into-ow  .login-logo  {
    height: 14px;
    width: 14px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    margin: 0 8px 0 0;
}

.login-container  .login-form  .login-forget-password  .login-into-ow  .login-fp-text  {
    height: auto;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    cursor: pointer;
}

.login-container  .login-img  {
    height: auto;
    width: 480px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    flex: 1;
    padding: 0;
}