
.bp-viewport {
    height: auto;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    margin: 0 24px;
    position: relative;
    
    }
    .bp-viewport .bp-product-card-wrapper-right {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, left top, right top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(90deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
    
    }
    .bp-viewport .bp-product-card-wrapper-left {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, right top, left top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(270deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    
    }
    .bp-viewport .report-product-card {
    height: 106px;
    width: 218px;
    margin-left: 8;
    margin-right: 8px;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    padding: 10px 10px 8px 10px;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgba(9,30,66,0.12), 0 4px 8px -2px rgba(9,30,66,0.25);
    display: inline-block;
    cursor: pointer;
    
    }
    .bp-column-layout .product-card-title {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    font-size: 16px;
    color: #3172E0;
    margin: 0;
    font-weight: 500;
    
    }
    .bp-column-layout .report-product-content {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 16px;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    
    }
    .bp-row-layout .product-ei-box {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    box-shadow: none;
    padding: 0;
    
    }
    .bp-column-layout .product-ei-text {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-column-layout .product-ei-data {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-sales-box {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    box-shadow: none;
    padding: 0;
    
    }
    .bp-column-layout .product-sales-text-box {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    
    }
    .bp-row-layout .product-sales-text {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-card-tag {
    height: 20px;
    width: auto;
    margin-left: 5px;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #EBECF0;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    
    }
    .bp-column-layout .product-sales-data-box {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8;
    margin-right: 8;
    margin-top: 6px;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: end;
            align-items: flex-end;
    
    }
    .bp-row-layout .product-sales-sata-number {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-sales-data-mn {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 2px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-sales-data-percent {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    font-size: 12px;
    color: #00875A;
    
    }
    .bp-row-layout .product-sales-data-icon {
    height: 24px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 2px;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    padding: 3px 0 0 5px;
    
    }
    .bp-product-card-wrapper-right {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, left top, right top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(90deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
    
    }
    .bp-product-card-wrapper-left {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, right top, left top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(270deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    
    }
    .product-card-tag {
    height: 20px;
    width: auto;
    margin-left: 5px;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #EBECF0;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    
    }
    .product-sales-data-percent {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    font-size: 12px;
    color: #00875A;
    
    }
    .product-sales-data-icon {
    height: 24px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 2px;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    padding: 3px 0 0 5px;
    
    }
    
    .report-container  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #fff;
        padding: 0;
    }
    
    .report-container  .report-header  {
        height: 72px;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: $color-primary-b400;
        padding: 0 24px;
    }
    
    .report-container  .report-header  .header-title  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        padding: 0;
        margin: 0;
    }
    
    .report-container  .report-header  .bp-date-picker  {
    }
    
    .report-container  .report-scrollview  {
        height: 138px;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: $color-primary-b400;
        padding: 0 24px;
    }
    
    .report-container  .report-scrollview  .bp-viewport  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        margin: 0 24px;
        position: relative;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .bp-product-card-wrapper-right  {
        height: 126px;
        width: 24px;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: -webkit-gradient(linear, left top, right top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
        background: linear-gradient(90deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
        position: absolute;
        right: 0;
        z-index: 99;
        top: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .bp-product-card-wrapper-left  {
        height: 126px;
        width: 24px;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: -webkit-gradient(linear, right top, left top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
        background: linear-gradient(270deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
        z-index: 99;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  {
        height: 106px;
        width: 218px;
        margin-left: 0;
        margin-right: 8px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 10px 10px 8px 10px;
        border-radius: 4px;
        box-shadow: 0 0 1px 0 rgba(9,30,66,0.12), 0 4px 8px -2px rgba(9,30,66,0.25);
        display: -webkit-inline-box;
        display: inline-flex;
        cursor: pointer;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .product-card-title  {
        height: auto;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        font-size: 16px;
        color: #3172E0;
        margin: 0;
        font-weight: 500;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  {
        height: auto;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 16px;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: justify;
                justify-content: space-between;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-ei-box  {
        height: auto;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        box-shadow: none;
        padding: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-ei-box  .product-ei-text  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-ei-box  .product-ei-data  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  {
        height: auto;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        box-shadow: none;
        padding: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-text-box  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-text-box  .product-sales-text  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-text-box  .product-card-tag  {
        height: 20px;
        width: auto;
        margin-left: 5px;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #EBECF0;
        padding: 0 4px;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 8;
        margin-right: 8;
        margin-top: 6px;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-align: end;
                align-items: flex-end;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-sata-number  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-data-mn  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 2px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-data-percent  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 8px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        font-size: 12px;
        color: #00875A;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-data-icon  {
        height: 24px;
        width: 24px;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 2px;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        padding: 3px 0 0 5px;
    }
    
    .report-container  .report-map-scatter  {
        height: 385px;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px;
    }
    
    .report-container  .report-map-scatter  .report-china-container  {
        height: 100%;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        box-shadow: $depth-z200;
        -webkit-box-flex: 1;
                flex: 1;
        undefined: undefined;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .report-china-title  {
        height: 56px;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px;
        -webkit-box-flex: 0;
                flex: 0 0 56px;
        undefined: undefined;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .report-china-title  .chart-title  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .report-china-title  .chart-subtitle  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 0 0 0 8px;
        box-sizing: border-box;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .bp-china  {
        height: 329px;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
        undefined: undefined;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  {
        height: 100%;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        margin: 0 0 0 24px;
        box-shadow: $depth-z200;
        -webkit-box-flex: 1;
                flex: 1;
        undefined: undefined;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .report-scatter-title  {
        height: 56px;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px;
        -webkit-box-flex: 0;
                flex: 0 0 56px;
        undefined: undefined;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .report-scatter-title  .chart-title  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .report-scatter-title  .chart-subtitle  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        margin: 0 0 0 8px;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .bp-scatter  {
        height: 329px;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
        undefined: undefined;
    }
    
    .report-container  .report-table-bars  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px;
        margin: 24px 0;
        overflow: auto;
    }
    
    .report-container  .report-table-bars  .report-table-container  {
        height: 600px;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: auto;
        overflow-y: hidden;
        box-shadow: $depth-z200;
        -webkit-box-flex: 2;
                flex: 2;
        undefined: undefined;
    }
    
    .report-container  .report-table-bars  .report-table-container  .table-title-container  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 0;
                flex: 0 0 93px;
        undefined: undefined;
    }
    
    .report-container  .report-table-bars  .report-table-container  .table-title-container  .china-title  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .report-container  .report-table-bars  .report-table-container  .table-title-container  .table-subtitle  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 6px 0 0;
    }
    
    .report-container  .report-table-bars  .report-table-container  .report-table-content  {
        height: calc(100% - 93px);
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        margin: 0;
        position: relative;
        box-sizing: border-box;
        -webkit-box-flex: 1;
                flex: 1;
        undefined: undefined;
    }
    
    .report-container  .report-table-bars  .report-bars-container  {
        height: auto;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 0 0 0 24px;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
        undefined: undefined;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
        height: auto;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 0 0 24px;
        box-sizing: border-box;
        overflow: auto;
        box-shadow: $depth-z200;
        -webkit-box-flex:  0;
                flex:  0 0 349px;
        undefined: undefined;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex:  0;
                flex:  0 0 80px;
        undefined: undefined;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        margin: 0;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
        height: auto;
        width: auto;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0;
        margin: 2px 0 0;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
        height: 269px;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 0 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
        undefined: undefined;
    }
    