// html {
//     scroll-behavior: smooth;
// }

body {
    background-color: #f7f9fe;
}

// .bp-report {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
// }

#bp-viewport-test {
    max-width: 1200px;
}

.bp-viewport {
    height: auto;
    width: auto;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    margin: 0 24px;
    position: relative;
    
    }
    .bp-viewport .bp-product-card-wrapper-right {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, left top, right top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(90deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
    
    }
    .bp-viewport .bp-product-card-wrapper-left {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, right top, left top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(270deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    
    }
    .bp-viewport .report-product-card {
    height: 106px;
    width: 218px;
    margin-left: 8;
    margin-right: 8px;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #FFFFFF;
    padding: 10px 10px 8px 10px;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 rgba(9,30,66,0.12), 0 4px 8px -2px rgba(9,30,66,0.25);
    display: inline-block;
    cursor: pointer;
    
    }
    .bp-column-layout .product-card-title {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    font-size: 16px;
    color: #3172E0;
    margin: 0;
    font-weight: 500;
    
    }
    .bp-column-layout .report-product-content {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 16px;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    
    }
    .bp-row-layout .product-ei-box {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    box-shadow: none;
    padding: 0;
    
    }
    .bp-column-layout .product-ei-text {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-column-layout .product-ei-data {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-sales-box {
    height: auto;
    width: 100%;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    box-shadow: none;
    padding: 0;
    
    }
    .bp-column-layout .product-sales-text-box {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    
    }
    .bp-row-layout .product-sales-text {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-card-tag {
    height: 20px;
    width: auto;
    margin-left: 5px;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #EBECF0;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    
    }
    .bp-column-layout .product-sales-data-box {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8;
    margin-right: 8;
    margin-top: 6px;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: end;
            align-items: flex-end;
    
    }
    .bp-row-layout .product-sales-sata-number {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 0;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-sales-data-mn {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 2px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    
    }
    .bp-row-layout .product-sales-data-percent {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    font-size: 12px;
    color: #00875A;
    
    }
    .bp-row-layout .product-sales-data-icon {
    height: 24px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 2px;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    padding: 3px 0 0 5px;
    
    }
    .bp-product-card-wrapper-right {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, left top, right top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(90deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
    
    }
    .bp-product-card-wrapper-left {
    height: 126px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: -webkit-gradient(linear, right top, left top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
    background: linear-gradient(270deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    
    }
    .product-card-tag {
    height: 20px;
    width: auto;
    margin-left: 5px;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 8;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: #EBECF0;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    
    }
    .product-sales-data-percent {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 8px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    font-size: 12px;
    color: #00875A;
    
    }
    .product-sales-data-icon {
    height: 24px;
    width: 24px;
    margin-left: 8;
    margin-right: 8;
    margin-top: 8;
    margin-bottom: 2px;
    padding-left: 8;
    padding-right: 8;
    padding-top: 8;
    padding-bottom: 8;
    background: transparent;
    padding: 3px 0 0 5px;
    
    }
    
    .report-container  {
        height: auto;
        width: auto;
        background: transparent !important;
        padding: 0;
    }
    
    .report-container  .report-header  {
        height: 72px;
        width: auto;
        background: #6187F2;
        // background: $color-primary-b400;
        padding: 0 24px;
    }
    
    .report-container  .report-header  .header-title  {
        height: auto;
        width: auto;
        background: transparent;
        padding: 0;
        margin: 0;
    }
    
    .report-container  .report-header  .bp-date-picker  {
    }
    
    .report-container  .report-scrollview  {
        height: 138px;
        width: auto;
        background: #6187F2;
        // background: $color-primary-b400;
        padding: 0 24px 74px 24px;
        box-sizing: content-box;
    }

    .bp-report .relative-position-part {
        position: relative;
        top: -55px;
        background-color: transparent;
        width: 1200px;
        align-self: center;
    }
    
    .report-container  .report-scrollview  .bp-viewport  {
        height: auto;
        width: auto;
        background: transparent;
        margin: 0 24px;
        position: relative;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .bp-product-card-wrapper-right  {
        height: 126px;
        width: 24px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
        background: linear-gradient(90deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
        position: absolute;
        right: 0;
        z-index: 99;
        top: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .bp-product-card-wrapper-left  {
        height: 126px;
        width: 24px;
        background: -webkit-gradient(linear, right top, left top, from(rgba(49,114,224,0.00)), color-stop(21%, rgba(49,114,224,0.15)), color-stop(49%, rgba(49,114,224,0.45)), color-stop(76%, rgba(49,114,224,0.95)), color-stop(84%, #3172E0));
        background: linear-gradient(270deg, rgba(49,114,224,0.00) 0%, rgba(49,114,224,0.15) 21%, rgba(49,114,224,0.45) 49%, rgba(49,114,224,0.95) 76%, #3172E0 84%);
        z-index: 99;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  {
        height: 106px;
        width: 218px;
        margin-left: 0;
        margin-right: 8px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #FFFFFF;
        padding: 10px 10px 8px 10px;
        border-radius: 4px;
        box-shadow: 0 0 1px 0 rgba(9,30,66,0.12), 0 4px 8px -2px rgba(9,30,66,0.25);
        display: -webkit-inline-box;
        display: inline-flex;
        cursor: pointer;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .product-card-title  {
        
        overflow:hidden; //超出的文本隐藏
        text-overflow:ellipsis; //溢出用省略号显示
        white-space:nowrap; //溢出不换行
        height: auto;
        width: 100%;
        background: transparent;
        font-size: 16px;
        color: #3172E0;
        margin: 0;
        font-weight: 500;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  {
        height: auto;
        width: 100%;
        margin-left: 8;
        margin-right: 8;
        margin-top: 16px;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: justify;
                justify-content: space-between;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-ei-box  {
        height: auto;
        width: 100%;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        box-shadow: none;
        padding: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-ei-box  .product-ei-text  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-ei-box  .product-ei-data  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  {
        height: auto;
        width: 100%;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        box-shadow: none;
        padding: 0;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-text-box  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-text-box  .product-sales-text  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-text-box  .product-card-tag  {
        height: 20px;
        width: auto;
        margin-left: 5px;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: #EBECF0;
        padding: 0 4px;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 8;
        margin-right: 8;
        margin-top: 6px;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-align: end;
                align-items: flex-end;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-sata-number  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 0;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 8;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-data-mn  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 2px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-data-percent  {
        height: auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: 8px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        font-size: 12px;
        color: #00875A;
    }
    
    .report-container  .report-scrollview  .bp-viewport  .report-product-card  .report-product-content  .product-sales-box  .product-sales-data-box  .product-sales-data-icon  {
        height: 24px;
        width: 24px;
        margin-left: 8;
        margin-right: 8;
        margin-top: 8;
        margin-bottom: 2px;
        padding-left: 8;
        padding-right: 8;
        padding-top: 8;
        padding-bottom: 8;
        background: transparent;
        padding: 3px 0 0 5px;
    }
    
    .report-container  .report-map-scatter  {
        height: 385px;
        width: auto;
        background: transparent;
    }
    
    .report-container  .report-map-scatter  .report-china-container  {
        height: 100%;
        width: auto;
        background: #FFFFFF;
        box-shadow: $depth-z200;
        -webkit-box-flex: 1;
    }

    .report-container  .report-map-scatter  .report-china-container-map {
        flex: 2;
    }

    .report-container  .report-map-scatter  .report-china-container-table {
        flex: 1;
        padding: 16px 24px;
    }

    .report-container .report-china-container-table .report-map-table-scroll {
        height: 360px;
        overflow-y: scroll;
    }

    .report-container .report-map-table-scroll .rank-table-row {
        border-bottom: 1px solid rgba(31,36,49,0.08);
    }

    .report-container .report-map-table-scroll .rank-table-row .rank-index {
        height: 20px;
        width: 20px;
        background: #DDE0ED;
        border-radius: 4px;
        font-size: 14px;
        color: #344563;
        text-align: center;
        line-height: 20px;   
        display: block;
    }

    .report-container .report-map-table-scroll .rank-table-row .rank-name {
        font-size: 14px;
        color: #1F2431;
        line-height: 20px;
        font-weight: 500;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .report-china-title  {
        height: 56px;
        width: 100%;
        background: #FFFFFF;
        padding: 0 24px;
        -webkit-box-flex: 0;
                flex: 0 0 56px;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .report-china-title  .chart-title  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .report-china-title  .chart-subtitle  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0;
        margin: 0 0 0 8px;
        box-sizing: border-box;
    }
    
    .report-container  .report-map-scatter  .report-china-container  .bp-china  {
        height: 329px;
        width: 100%;
        background: #FFFFFF;
        padding: 0 24px 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  {
        height: 100%;
        width: auto;
        background: #FFFFFF;
        box-shadow: $depth-z200;
        -webkit-box-flex: 1;
                flex: 1;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .report-scatter-title  {
        height: 56px;
        width: 100%;
        background: #FFFFFF;
        padding: 0 24px;
        -webkit-box-flex: 0;
                flex: 0 0 56px;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .report-scatter-title  .chart-title  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .report-scatter-title  .chart-subtitle  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        margin: 0 0 0 8px;
    }
    
    .report-container  .report-map-scatter  .report-scatter-container  .bp-scatter  {
        height: 329px;
        width: 100%;
        background: #FFFFFF;
        padding: 0 24px 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
    }
    
    .report-container  .report-table-bars  {
        height: auto;
        width: auto;
        background: transparent !important;
        margin: 24px 0;
        overflow: auto;
    }
    
    .report-container  .report-table-bars  .report-table-container  {
        height: 600px;
        width: 100%;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: auto;
        overflow-y: hidden;
        box-shadow: $depth-z200;
        -webkit-box-flex: 2;
                flex: 2;
    }
    
    .report-container  .report-table-bars  .report-table-container  .table-title-container  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 0;
                flex: 0 0 93px;
    }
    
    .report-container  .report-table-bars  .report-table-container  .table-title-container  .china-title  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .report-container  .report-table-bars  .report-table-container  .table-title-container  .table-subtitle  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0;
        margin: 6px 0 0;
    }
    
    .report-container  .report-table-bars  .report-table-container  .report-table-content  {
        height: calc(100% - 93px);
        width: 100%;
        background: #FFFFFF;
        margin: 0;
        position: relative;
        box-sizing: border-box;
        -webkit-box-flex: 1;
                flex: 1;
    }
    
    .report-container  .report-table-bars  .report-bars-container  {
        height: auto;
        width: 100%;
        background: transparent;
        padding: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  {
        height: auto;
        width: 100%;
        background: #FFFFFF;
        padding: 0;
        margin: 0 0 24px;
        box-sizing: border-box;
        overflow: auto;
        box-shadow: $depth-z200;
        -webkit-box-flex:  0;
                flex:  0 0 349px;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0 24px;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex:  0;
                flex:  0 0 80px;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-title  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        margin: 0;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .bars-title-container  .bars-subtitle  {
        height: auto;
        width: auto;
        background: #FFFFFF;
        padding: 0;
        margin: 2px 0 0;
    }
    
    .report-container  .report-table-bars  .report-bars-container  .bars-content  .chart-bar-content  {
        height: 269px;
        width: 100%;
        background: #FFFFFF;
        margin: 0;
        box-sizing: border-box;
        overflow: auto;
        -webkit-box-flex: 1;
                flex: 1;
    }
    

    .bp-report .btn-group-container {
        background-color: transparent;
    }

    .bp-report .btn-group-container .button-item {
        background: rgba(31,36,49,0.04);
    }

    .bp-report .btn-group-container .button-item .button-active-icon path {
        fill: #FFFFFF;
    }        

    .bp-report .report-up-top-container {
        background-color: transparent;
        font-size: 14px;
        color: #515664;
        letter-spacing: 0;
        line-height: 20px;
    }

    .bp-report .report-up-top-container .report-up-top-btn {
        height: 48px;
        width: 48px;
        background-color: rgba(9,30,66,0.1);
        border-radius: 40px;
    }

    .bp-report .report-up-top-container .report-up-top-btn .report-up-top-icon {
        transform: rotate(180deg);
        margin-bottom: 6px;
    }

    .flex-1 {
        flex: 1;
    }

    .max-data-picker-container {
        height: 246px;
        width: 241px;
        background-color: #FFFFFF;
        box-shadow: 0 0 1px 0 rgba(9,30,66,0.12), 0 4px 8px -2px rgba(9,30,66,0.25);
        border-radius: 4px;
        position: absolute;
        z-index: 999;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .max-data-picker-container .max-data-picker-content {
        display: flex;
        flex-direction: row;
    }

    .max-data-picker-container .max-data-picker-content .content-left .content-left-year {
        display: flex;
    }

    .max-data-picker-container .max-data-picker-content .content-left .content-left-year  .before-year {
        transform: rotate(90deg);
    }

    .max-data-picker-container .max-data-picker-content .content-left .content-left-year .after-year {
        transform: rotate(270deg);
    }

    .max-data-picker-container .max-data-picker-content .content-left-month {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .max-data-picker-container .max-data-picker-content .content-left-month div {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        color: #6C6F7D;
        text-align: center;
        cursor: pointer;
        margin: 0 4px;
    }

    .max-data-picker-container .max-data-picker-content .content-left-month div:hover{
        background-color: rgba(31,36,49,0.04);
    }

    .max-data-picker-container .max-data-picker-content .content-left-month .active{
        background: #5D626F;
        border-radius: 16px;
        font-size: 14px;
        color: rgba(255,255,255,0.95);
    }

    .max-data-picker-container .max-data-picker-content .content-left-month .active:hover{
        background: #5D626F;
        border-radius: 16px;
        font-size: 14px;
        color: rgba(255,255,255,0.95);
    }

    .max-data-picker-container .max-data-picker-content .content-right {
        display: flex;
        flex-direction: column;
        border-left: 1px solid rgba(31,36,49,0.08);
        padding-left: 16px;
        padding-top: 8px;
    }

    .max-data-picker-container .max-data-picker-content .content-right .active {
        background: #515664;
        color: #FFFFFF;
    }

    .max-data-picker-container .max-data-picker-content .content-right button {
        width: 56px;
        height: 32px;
        background: rgba(31,36,49,0.04);
        border-radius: 4px;
        font-size: 14px;
        color: #515664;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        border: none;
        margin-bottom: 8px;
        cursor: pointer;
    }

    .max-data-picker-container .max-data-picker-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .max-data-picker-container .max-data-picker-btn button {
        border: none;
        border-radius: 4px;
        padding: 6px 12px;
        cursor: pointer;
    }

    .report-header .bp-select-title {
        font-size: 14px;
        border-radius: 4px;
        width: 86px;
        font-size: 14px;
        color: rgba(255,255,255,0.95);
        background: rgba(255,255,255,0.20);
        cursor: pointer;
    }

    .report-china-table-header .bp-map-table-select .bp-select-title {
        width: 100px;
        font-size: 14px;
        border-radius: 4px;
        color: #515664;
        background: rgba(255,255,255,0.20);
        cursor: pointer;
    }

    .bp-option-group {
        position: absolute;
        border-radius: 3px;
        padding: 4px 0;
    }

    .bp-select .bp-option {
        height: 32px;
        width: 100%;
        font-size: 14px;
        color: #344563;
        display: flex;
        padding: 16px;
        align-items: center;
        cursor: pointer;
        
    }

    .option-active {
        color: #fff!important;
        background-color: rgba(9,30,66,.71)!important;
    }

    .bp-report .bg-transparent {
        background-color: transparent;
    }

    .icon-rotate {
        transform: rotate(270deg);
    }

    .icon-map-table-down path {
        fill: #515664;
    }

    .report-bars-container .chart-title-container {
        width: 1200px;
        padding: 16px 24px;
        box-shadow: 0 0 1px 0 rgba(9,30,66,0.12), 0 4px 8px -4px rgba(9,30,66,0.24);
        border-radius: 4px 4px 0 0;
        background-color: #FFFFFF;
    }